body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

header {
    background-image: url('../assets/website-picture/header-picture.jpg');
    background-size: cover;
    height: 700px;
    border: 2px solid red;
}

.logo {
    margin: 10px 0 0 69px;
    padding-top: 20px;
}

.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 250px;
}

.headline {
    color: #FFD15B;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
}

.search-container,
.search-container-i {
    display: flex;
    align-items: center;
    position: relative;
}

.search {
    width: 954px;
    /*height: 50px;*/
    padding: 24px 35px;
    border-radius: 11px;
    background: #FFF;
    border: 0;

}

.fas.fa-search.big {
    border: 2px solid white;
    margin-right: 10px;
    position: absolute;
    right: 0;
    font-size: 21px;
    background-color: #1B1B1B;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

main {
    background: #EDEDED;
}

.header {
    display: flex;
    gap: 66px;
    border: 2px solid blue;
    padding-left: 104px;
    padding-right: 102px;
    padding-top: 40px;
}

.dropdown {
    position: absolute;
}

.dropdown-i {
    left: 100px;
    /* top: 0; */
}

.dropdown-a {
    left: 400px; /* Adjust the value as needed */
    /* top: 0; */
}

.dropdown-u {
    left: 700px; /* Adjust the value as needed */
    /* top: 0; */
}

.dropdown-btn {
    background-color: white;
    border: 0;
    border-radius: 11px;
    width: 195px;
    padding: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid green;
}

.dropdown-i,
.dropdown-a,
.dropdown-u {
    border: 2px solid red;
    width: 195px;
    border-radius: 11px;
    background: #FFF;
    margin-right: 10px;
    /* Adjust the margin as needed */
    height: fit-content;
}


.dropdown__head-i,
.dropdown__head-a,
.dropdown__head-u {
    padding: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-small-i,
.search-small-u,
.search-small-a {
    padding: 0px;
    height: 36px;
    border-radius: 2px;
    border: 1px solid #C6C6C6;
    width: 163px;
}

.search-container-i.small,
.search-container-u.small,
.search-container-a.small {
    padding: 0 16px;
    position: relative;
    color: #7A7A7A;
    font-size: 14px;
}

.fas.fa-search.small {
    position: absolute;
    right: 16%;
}

.dropdown__items-i,
.dropdown__items-a,
.dropdown__items-u {
    list-style: none;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    font-size: 14px;

    overflow-y: scroll;
    max-height: 300px
}

.dropdown__body-i,
.dropdown__body-a,
.dropdown__body-u {
    display: none;
}

.header-title {
    margin-left: auto;
    font-family: Anton;
    font-size: 21px;
    color: #1B1B1B;
}

.main_content {
    padding-left: 102px;
    padding-right: 102px;
    padding-top: 55px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 66px;
}

.card {
    width: 380px;
    border: 2px solid pink;
    background: white;
    border-radius: 20px 20px 20px 20px;
}

.card__pic {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.card__content {

    padding: 32px 25px 61px;
}

.recipe-title {
    font-family: Anton;
    font-size: 18px;
    margin: 0;
    font-weight: 400;
}

.recipe-text h3 {
    color: #7A7A7A;
    font-family: Manrope;
    font-size: 12px;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    font-weight: 700;
}

.recipe-text p {
    font-family: Manrope;
    font-size: 14px;
}

.tags-recipes {
    padding-left: 102px;
    display: flex;
    gap: 20px;
    margin-top: 21px;
}

.tags {
    border-radius: 10px;
    background: #FFD15B;
    padding: 17px 18px;
    display: flex;
    gap: 60px;
    align-items: center;
}